<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>person</title>
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../resources/js/person/person.js"></script>
<script type="text/javascript" src="../resources/layer/layer.js"></script>
<script type="text/javascript" src="../resources/js/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../resources/js/jquery.form.js" charset="utf-8"></script>
</head>

<body>
	
	
<script type="text/javascript" src="../resources/js/canvas-nest.js"></script>
</body>
</html>
